<template>
  <div>
  	<article class="col-md-4" v-for="player, index in players">
  		<h2 class="text-primary"><strong>{{ player.first_name }}</strong> <strong>{{ player.last_name }}</strong></h2>
  		<div><strong>Team: </strong><span class="text-muted">{{ player.team.name }}</span></div>
	</article>
   </div>
</template>

<script>
    export default {
    	/*
         * The component's data.
         */
        data() {
            return{
                players: [],
            };
        },
        
        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.fetchPlayers();
        },
        
        methods: {
        	fetchPlayers() {
                axios.get('../api/players')
                        .then(response => {
                            this.players = response.data;
                        });
            },
        },
        
    }
</script>
