<template>
    <div>
        <div class="form-group">
            <a class="action-link btn btn-success" @click="showCreateTeamForm">Create New Team</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Film list</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    	<th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Country</th>
                        <td>Creation Date</td>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="team, index in teams">
                    	<td>{{ team.id }}</td>
                        <td>{{ team.name }}</td>
                        <td>{{ team.description }}</td>
                        <td>{{ team.country.name }}</td>
                        <td>{{ team.created_at }}</td>
                        <td>
                            <a class="btn btn-xs btn-default action-link" @click="edit(team)">
                            	Edit
                            </a>
                            <a class="btn btn-xs btn-danger action-link text-danger" @click="destroy(team)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Create Team Modal -->
        <div class="modal fade" id="modal-create-team" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4 class="modal-title">
                            Create Team
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="createForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in createForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Create Team Form -->
                        <form class="form-horizontal" role="form">
                            <!-- Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>

                                <div class="col-md-7">
                                    <input id="create-team-name" type="text" class="form-control"
                                                                @keyup.enter="store" v-model="createForm.name">

                                    <span class="help-block">
                                        Your team full name.
                                    </span>
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Description</label>

                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="description"
                                                    @keyup.enter="store" v-model="createForm.description">

                                    <span class="help-block">
                                        Your team description.
                                    </span>
                                </div>
                            </div>
                            
                            <!-- Country -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Country</label>

                                <div class="col-md-7">
	                                <select v-model="createForm.country_id">
								        <option disabled value="">Select Item</option>
								        <option v-for="country in countries" v-bind:value="country.id">{{ country.name }}</option>
								    </select>
                                    <span class="help-block">
                                        Your team country.
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" @click="store">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Create Team Modal End -->
        <!-- Edit Team Modal -->
        <div class="modal fade" id="modal-edit-team" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4 class="modal-title">
                            Edit Team
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!-- Form Errors -->
                        <div class="alert alert-danger" v-if="editForm.errors.length > 0">
                            <p><strong>Whoops!</strong> Something went wrong!</p>
                            <br>
                            <ul>
                                <li v-for="error in editForm.errors">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <!-- Edit Team Form -->
                        <form class="form-horizontal" role="form">
                            <!-- Name -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>

                                <div class="col-md-7">
                                    <input id="edit-Team-name" type="text" class="form-control"
                                                                @keyup.enter="update" v-model="editForm.name">

                                    <span class="help-block">
                                        Something your users will recognize and trust.
                                    </span>
                                </div>
                            </div>
                            
                            <!-- Description -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Description</label>

                                <div class="col-md-7">
                                    <input id="edit-Team-name" type="text" class="form-control" name="description"
                                                    @keyup.enter="update" v-model="editForm.description">

                                    <span class="help-block">
                                        Your team description.
                                    </span>
                                </div>
                            </div>
                            
                            <!-- Country -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Country</label>

                                <div class="col-md-7">
	                                <select v-model="editForm.country_id">
								        <option disabled value="">Select Item</option>
								        <option v-for="country in countries" v-bind:value="country.id">{{ country.name }}</option>
								    </select>
                                    <span class="help-block">
                                        Your team country.
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Actions -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" @click="update">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Team Modal End -->
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return{
                teams: [],
                
                countries: [],
                
                createForm: {
                    errors: [],
                    name: '',
                    description: '',
                    country_id: ''
                },

                editForm: {
                    errors: [],
                    name: '',
                    description: '',
                    country_id: ''
                }
            };
        },
        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.fetchTeams();
            this.fetchCountries();
        },
        methods: {
        
        	fetchTeams() {
                axios.get('../api/teams')
                	.then(response => {
                     	this.teams = response.data;
                });
            },
            
            /**
             * Show the form for creating new team.
             */
            showCreateTeamForm() {
                $('#modal-create-team').modal('show');
            },
            
            /**
             * Create a new Team
             */
            store() {
                this.persistTeam(
                    'post',
                    '../api/teams',
                    this.createForm,
                    '#modal-create-team'
                );
            },
            
            /**
             * Edit the given Team.
             */
            edit(team) {
                this.editForm.id = team.id;
                this.editForm.name = team.name;
                this.editForm.description = team.description;
                this.editForm.country_id = team.country_id;

                $('#modal-edit-team').modal('show');
            },

            /**
             * Update the Team being edited.
             */
            update() {
                this.persistTeam(
                    'put', '../api/teams/' + this.editForm.id,
                    this.editForm, '#modal-edit-team'
                );
            },
            
            /**
             * Persist the team to storage using the given form.
             */
            persistTeam(method, uri, form, modal) {
                form.errors = [];
                axios[method](uri, form)
                    .then(response => {
                        this.fetchTeams();

                        form.name = '';
                        form.description = '';
                        form.country_id = '';
                        form.errors = [];

                        $(modal).modal('hide');
                    })
                    .catch(error => {
                        if (typeof error.response.data === 'object') {
                            form.errors = _.flatten(_.toArray(error.response.data));
                        } else {
                            form.errors = ['Something went wrong. Please try again.'];
                        }
                    });
            },
            
            /**
             * Destroy the given Team.
             */
            destroy(team) {
                axios.delete('../api/teams/' + team.id)
                        .then(response => {
                            this.fetchTeams();
                        });
            },
            
            fetchCountries() {
                axios.get('../api/countries')
                	.then(response => {
                     	this.countries = response.data;
                });
            },
        }
    }
</script>